* {
  font-family: 'Calibri'
}

/* Tugas 11 */
/* h1 {
  margin-left: 135px;
}

.tabel {
  margin-left: 380px;
  margin-top: 25px;
}

.tabel1 {
  border-collapse: collapse;
  border: 1px solid #000000;
}

.tabel1 tr th{ 
  background: rgba(92, 92, 92, 0.37);
  padding-right:75px;
}

.tabel1, th, td {
  padding: 8px 60px;
}

.tabel2 {
  background: #FF7F50;
  margin: 3px;

} */

/* Tugas 12 */
.timer {
  margin-top: 80px;
  margin-left: 360px;
}

.clock {
  margin-right: 700px;
  margin-top: -77px;
}


/* Tugas 13 */
h1 {
  margin-left: 235px;
}

.tabel {
  margin-left: 280px;
  margin-top: 50px;
}

.tabel1 {
  border-collapse: collapse;
  border: 1px solid #000000;
}

.tabel1 tr th{ 
  background: rgba(92, 92, 92, 0.37);
  padding-right:90px;
}

.tabel1, th, td {
  padding: 8px 60px;
}

.tabel2 {
  background: #FF7F50;
  margin: 3px;

}

.form {
  margin-left: 225px;
  padding-bottom: 100px;
}